<h1 class="text-center text-danger"> 
    <%= @article[:title] %>
</h1>
<%= @test %>
<div class="container-fluid" style="width:80%">
    <a href="/" ><button class="btn btn-info"><i class="fa fa-home" aria-hidden="true"></i> Accueil</button></a>
    <div class="container jumbotron">
        
            <div class="col-lg-6" >
                <p class="text-justify"> <%= @article[:content] %> </p>
                <button type="button" class="btn btn-warning" disabled>
                <%= @article[:rating] %>   <i class="fa fa-star" aria-hidden="true"></i> 
                </button>
            </div>
            <div class="col-lg-6" style="display:flex;justify-content:flex-center;">
                <img src="<%= @article[:photo] %> " style="width: 50%;"/>   
            </div>
    
    </div>
    <h2 class="text-secondary"> Commentaires de l'article</h2>
    <div class="container-fluid comments">
            <% for comment in @comments %>
            <div class="container">
                <p class="text-center"> <%= comment %> </p>
            </div>
            <% end %>
    </div>
</div>